name: Workflow to push to DockerHub

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        run: git clone https://github.com/${{ github.repository }} .

      - name: Print message
        run: node --version
