name: Production VM Deploy
on:
  push:
    branches: [main]

permissions:
  id-token: write # Required for requesting the OIDC JWT
  contents: read # Required for actions/checkout

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Execute Remote Command
        uses: azure/CLI@v2
        with:
          inlineScript: |
            az vm run-command invoke \
              --resource-group linux-vm \
              --name linux \
              --command-id RunShellScript \
              --scripts "
                # 1. Log the VM's CLI into its Managed Identity
                # If you have multiple identities, use: az login --identity --username <client_id_of_identity>
                sudo az login --identity --client-id e845c287-0b86-4efd-a536-d0158d148226

                # 2. Now log into ACR
                sudo az acr login --name myacr102002

                # 3. Pull the image
                sudo docker pull myacr102002.azurecr.io/travel-list:latest
              "
