name: Production VM Deploy
on:
  push:
    branches: [main]

permissions:
  id-token: write # Required for requesting the OIDC JWT
  contents: read # Required for actions/checkout

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Execute Remote Command
        uses: azure/CLI@v2
        with:
          inlineScript: |
            az vm run-command invoke \
              --resource-group linux-vm \
              --name linux \
              --command-id RunShellScript \
              --scripts "sudo docker pull myacr102002.azurecr.io/travel-list:latest"
